body{
    margin: 0;
    padding: 0;
    background-color:aqua;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: xx-large;
    background-color: aqua;
    height: 5rem;
    width: 25rem;
    position: absolute;
    border: 2px solid white;
    top: 0px;
}

#remove{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: white;
    height: 6rem;
    width: 6rem;
    position: absolute;
    border-radius: 50%;
    left: 8rem;
    top: 40rem;
    border: 2px solid white;
}
#counter{
    display: block;
    position: absolute;
    top: 300px;
    color: white;
    font-size: 40rem;

}

#add{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    position: absolute;
    right: 8rem;
    top: 40rem;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border: 2px solid white; 
    color: white;
}

